* {
     box-sizing: border-box;
     scroll-behavior: smooth;
}
::selection {
     background-color: #b6f72c;
     color: #23272a;
}
body {
     margin: 0;
     width: 100%;
     height: 100%;
     background-color: rgb(0, 0, 0);
     color: #c8bfc7;
}

/* =============== Continer =============== */

.crad-continer {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: 30px;
}

/* =============== Cord =============== */

.card {
     background-color: #23272a;
     width: 400px;
     padding: 0px 0px 10px;
     text-align: center;
     border-radius: 20px;
     overflow: hidden;
}

/* =============== Image =============== */

.img {
     width: 400px;
     height: 300px;
     object-fit: cover;
}

.card hr {
     margin: 0px;
     height: 2.5px;
     background: #b6f72c;
     border: none;
     position: relative;
     display: block;
     overflow: hidden;
}

.card hr::after {
     content: "";
     position: absolute;
     top: 0;
     left: -2%;
     width: 100%;
     height: 100%;

     background: linear-gradient(80deg, transparent, #cecece, transparent);

     animation: shine 1.5s linear infinite;
}
/* =============== Name =============== */

.name {
     font-size: 30px;
     display: block;
}

/* =============== Con =============== */

.con {
     margin-bottom: 20px;
     border: none;
     display: block;
     overflow: hidden;

     background: linear-gradient(90deg, #b6f72c, #cecece, #b6f72c);
     background-clip: text;
     color: transparent;
     background-size: 200% auto;

     animation: gred 1.5s linear infinite;
}

/* =============== Dis =============== */

.dis {
     line-height: 30px;
     font-size: 18px;
}

/* =============== lINKS =============== */

.links {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 20px;
     gap: 25px;
}

.link {
     width: 370px;
     background-color: black;
     padding: 0px;
     border: none;
     text-decoration: none;
     color: white;
     border-radius: 15px;

     transition: 0.5s;
     font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
}

.link:hover {
     transform: scale(1.03);
     box-shadow: 0px 5px 15px #4c4c4c;
     border-radius: 20px;
}

.link-p {
     padding: 17px;
     margin: 0px;
     color: #ffffff;
     font-size: 18px;
}

.link-p:hover {
     background: linear-gradient(110deg, #b6f72c, #cecece, #b6f72c);
     background-clip: text;
     color: transparent;
     background-size: 200% auto;
     animation: gred 1.5s linear infinite;
     object-fit: contain;
}

/* =============== Footer =============== */

.footer {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     letter-spacing: 2px;
}

span {
     color: #b6f72c;
     background: linear-gradient(90deg, #b6f72c, #cecece, #b6f72c);
     background-clip: text;
     color: transparent;
     background-size: 200% auto;
     animation: gred 1.5s linear infinite;
}

/* =============== Midia =============== */

@media (max-width: 767px) {
     .crad-continer {
          width: 95%;
          height: 100%;
          margin: 15px;
          padding-right: 10px;
     }
     .img {
          width: 400px;
     }
     .link-p {
          padding: 16px;
     }
     .link {
          width: 320px;
          padding: 0px;
          font-size: 16px;
     }
}

@media (min-width: 768px) and (max-width: 1024px) {
     .crad-continer {
          height: 100%;
          margin: 12px;
          padding-left: 0px;
     }

     .img {
          width: 400px;
     }
}

@media (min-width: 1025px) and (max-width: 1439px) {
     .img {
          width: 400px;
          height: 250px;
     }
     .link-p {
          padding: 16px;
     }
     .link,
     .links {
          padding: 0px;
          font-size: 16px;
     }
     .name {
          font-size: 20px;
     }
     .dis {
          font-size: 15px;
     }
}

/* =============== Keys =============== */

@keyframes shine {
     0% {
          left: -100%;
     }
     100% {
          left: 100%;
     }
}

@keyframes gred {
     0% {
          background-position: 200% 50%;
     }

     100% {
          background-position: 0% 50%;
     }
}
